<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"

        bootstrap="vendor/autoload.php"
        colors="true"
        executionOrder="random"
        failOnRisky="true"
        failOnWarning="true"
        cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Maatify Data Adapters">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <!-- ========================== -->
  <!-- Source Directories         -->
  <!-- ========================== -->
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>

    <exclude>
      <directory>vendor</directory>
    </exclude>
  </source>

  <!-- ========================== -->
  <!-- Coverage Reports           -->
  <!-- ========================== -->
  <coverage>
    <report>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>

  <!-- ========================== -->
  <!-- PHP Runtime                -->
  <!-- ========================== -->
  <php>
    <!-- No env, no IO, deterministic tests -->
    <ini name="zend.assertions" value="1"/>
    <ini name="assert.exception" value="1"/>
  </php>
</phpunit>
