name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: write

jobs:
  library:
    uses: maatify/.github/.github/workflows/library-ci.yml@main
    secrets:
      TELEGRAM_CI_BOT_TOKEN: ${{ secrets.TELEGRAM_CI_BOT_TOKEN }}
      TELEGRAM_CI_CHAT_ID: ${{ secrets.TELEGRAM_CI_CHAT_ID }}

  badge:
    needs: library
    if: github.event_name == 'push'
    uses: maatify/.github/.github/workflows/coverage-badge.yml@main
    with:
      coverage: ${{ needs.library.outputs.coverage }}
